.profile-container {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  width: 50%;
  padding: 10px 20px;
  background-color: rgba(255,255,255,.1);
  text-transform: uppercase;
  border-radius: 8px;
  cursor: pointer;
  overflow: hidden;
  transition: .25s transform;
  line-height: 1.6;
}

.profile-container:hover {
  transform: translate(-50%, -50%) scale(1.05);
}

.profile-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.profile-info {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.profile-name {
  font-weight: 600;
}

.profile-job {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 14px;
}

@media(min-width: 1024px) {
  .mobile {
    display: none;
  }
}

@media (max-width: 1024px) {
  .profile-container {
    width: 90%;
    padding: 10px;
    justify-content: unset;
    font-size: 14px;
  }

  .profile-info {
  }

  .profile-name {
    font-weight: 600;
  }

  .profile-job {
    position: initial;
    transform: none;
    color: rgba(255,255,255,.5);
    font-size: 12px;
  }

  .desktop {
    display: none;
  }
}
