* {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
  overflow: hidden;
}

body, input {
  font-family: 'Source Sans Pro', sans-serif;
}
