.profile-container {
  display: flex;
  align-items: center;
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 14px;
}

.profile-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.profile-info {
  margin-left: 10px;
}

.profile-name {
  font-weight: 600;
  text-transform: uppercase;
}

.job-info {
  color: rgba(255,255,255,.5);
}

@media (max-width: 1024px) {
  .profile-container {
    position: unset;
    justify-content: center;
    flex-direction: column;
    margin-top: 20px;
    width: 100%;
  }

  .profile-info {
    margin: 10px 0 0;
    text-align: center;
  }
}
