.command-list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.command:not(:last-child) {
}

.command-name {
  text-transform: uppercase;
  font-weight: 600;
}

.command-description {
  color: rgba(255,255,255,.5);
  font-weight: 300;
}

@media (min-width: 1024px) {
  .command-list {
    font-size: 0.97vw;
  }

  .command:not(:last-child) {
    margin-bottom: 0.69vw;
  }
}
@media (max-width: 1024px) {
  .command-list {
    font-size: 14px;
  }

  .command:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media (max-width: 820px) {
  .command-list {
    width: 90%;
  }
}

@media (max-width: 325px) {
  .command-list {
    width: 90%;
    font-size: 12px;
  }
}

@media (max-width: 820px) and (orientation: landscape) {
  .command-list {
    height: 30%;
    overflow: scroll;
    font-size: 12px;
  }
}
