.command-list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 14px;
}

.command:not(:last-child) {
  margin-bottom: 10px;
}

.command-name {
  text-transform: uppercase;
  font-weight: 600;
}

.command-description {
  color: rgba(255,255,255,.5)
}

@media (max-width: 1024px) {
  .command-list {
    width: 90%;
  }
}

@media (max-width: 320px) {
  .command-list {
    width: 90%;
    font-size: 12px;
  }
}

@media (max-width: 1024px) and (orientation: landscape) {
  .command-list {
    height: 30%;
    overflow: scroll;
    font-size: 12px;
  }
}
