.name-input {
  position: absolute;
  display: flex;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  justify-content: center;
  flex-direction: column;
}

.title {
  font-weight: 300;
}

@media(min-width: 1024px) {
  .name-input {
    text-align: center;
    font-size: 24px;
  }

  .title {
    font-size: 1.67vw;
  }
}

@media(max-width: 1024px) {
  .title {
    font-size: 24px;
  }

  .name-input {
    width: 90%;
    text-align: center;
    font-size: 24px;
  }
}
