.name-input {
  position: absolute;
  display: flex;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  text-align: center;
  justify-content: center;
  flex-direction: column;
}

input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  border: 1px solid rgba(255,255,255,.15);
  border-radius: 2px;
  padding: 20px;
  color: white;
  font-size: 24px;
  font-weight: 300;
  transition: .25s box-shadow;
  outline: none;
  margin-top: 10px;
}

input:focus {
  box-shadow: 0 0 0 5px rgba(255,255,255,.15);
}

@media(max-width: 1024px) {
  .name-input {
    text-align: center;
  }

  input {
    display: block;
  }
}
