.director-container {
  position: absolute;
  left: 50%;
  width: 90%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.title {
  font-size: 1.67vw;
  font-weight: 300;
}


@media(min-width: 1024px) {
  .director-container {
    top: 25%;
  }

  .title {
    font-size: 1.53vw;
  }

  .helper {
    line-height: 1.94vw;
    min-height: 1.94vw;
  }
}

@media(max-width: 1024px) {
  .director-container {
    top: 20%;
  }

  .title {
    font-size: 22px;
  }

  .helper {
    line-height: 1.6;
  }
}

@media(max-width: 320px) {
  .title {
    font-size: 20px;
  }
}
