.visitor-name-container {
  position: absolute;
  top: 20px;
  right: 20px;
  text-transform: uppercase;
  color: rgba(255,255,255,.50);
  font-size: 14px;
}

.visitor-name {
  color: white;
  font-weight: bold;
}

@media(max-width: 1024px) {
  .visitor-name-container {
    display: none;
  }
}
